libssl-dev
libx11-dev
libxft-dev
libxinerama-dev
libxpm-dev
libjpeg-dev
libpng-dev
libgif-dev
libtiff-dev
libgtk2.0-dev
libncurses-dev
libgnutls30
gnutls-dev
build-essential
ripgrep
python3.12-venv
unzip
dmenu
lxrandr
neofetch
stow
git
fzf
redshift
feh
texlive-full
latexmk
zathura
mpv
texinfo
automake
autoconf
pandoc
jq
plymouth
plymouth-themes
nextcloud-desktop
nemo-nextcloud
wmaker
cmake
tmux
tree-sitter-cli
steam-installer
rofi
thunar
transmission-qt
obs-studio
tealdeer
gimp
wmcpuload
wmsystemtray
xclip
wmnd
wmstickynotes
wmcalclock
wmmixer
libasound2-dev
alacritty
libtool-bin
scons
clangd
ffmpeg
chromium
spotify-client
dunst
gnome-icon-theme
flake8
python3-autopep8
default-jdk
maven
arandr
virtualbox
wmacpi
